datasets.db
melted.csv
bev_nat_ges9219tot.csv
bevolking_leeft_gesl_nat_burgst20002019.csv
mode_gemeentes.csv
mode_gemeentes09.csv
mode_gemeentes0919.csv
bevolking_burgerlijkestand20002019.csv
bevolking_geslacht20002019.csv
bevolking_nationaliteit20002019.csv
bevolking_leeftijdsklasse20002019.csv
bevolking0919.csv
peren_export.csv
peren_export.xlsx
nmbs_evenmoretweets.csv
nmbs_moretweets.csv
nmbs_tweets.csv
bevolking_leeftijd_burgst20092019.csv
verhoudingjong09.csv
verhoudingjong19.csv